<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Perhitungan</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-grid.min.css}">
    <link rel="stylesheet" th:href="@{/css/jquery.bootgrid.min.css}">
    <link rel="stylesheet" th:href="@{/css/all.css}">


</head>
<body>
<div th:replace="header :: header"></div>
<br/>

<div class="container">


    <div class="row">
        <div class="col-md-8">
            <input type="button" id="normalisasi" class="btn btn-primary" value="Lakukan Normalisasi"/>
            <table id="grid-basic" class="table table-condensed table-hover table-striped">
                <thead>
                <tr>
                    <th data-column-id="nama">Nama</th>
                    <th data-column-id="kriteria1">Kriteria 1</th>
                    <th data-column-id="kriteria2">Kriteria 2</th>
                    <th data-column-id="kriteria3">Kriteria 3</th>
                    <th data-column-id="kriteria4">Kriteria 4</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <input type="button" id="peringkat" class="btn btn-primary" value="Tentukan peringkat"/>
            <table id="grid-peringkat" class="table table-condensed table-hover table-striped">
                <thead>
                <tr>
                    <th data-column-id="nama">Nama</th>
                    <th data-column-id="total">Nilai</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>


        </div>
    </div>


</div>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.bootgrid.min.js}"></script>
<script th:src="@{/js/perhitungan.js}"></script>
</body>
</html>